<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <description>
        Sistema de Reconhecimento de Imagem
    </description>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <display-name> RECIMG </display-name>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>web.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarResultado</servlet-name>
        <servlet-class>web.servlet.SalvarResultado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>web.servlet.Principal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Galeria</servlet-name>
        <servlet-class>web.servlet.GaleriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Galeria</servlet-name>
        <url-pattern>/Galeria</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Autenticar</servlet-name>
        <servlet-class>web.servlet.Autenticar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticar</servlet-name>
        <url-pattern>/Autenticar.action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>web.servlet.Info</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/Info</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Reconhecimento</servlet-name>
        <servlet-class>web.servlet.Reconhecimento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reconhecimento</servlet-name>
        <url-pattern>/Reconhecimento</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Resultado</servlet-name>
        <servlet-class>web.servlet.ResultadoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resultado</servlet-name>
        <url-pattern>/Resultado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerResultado</servlet-name>
        <servlet-class>web.servlet.VerResultado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerResultado</servlet-name>
        <url-pattern>/VerResultado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnviarImagem</servlet-name>
        <servlet-class>web.servlet.EnviarImagem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnviarImagem</servlet-name>
        <url-pattern>/EnviarImagem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadImagem</servlet-name>
        <servlet-class>web.servlet.UploadImagem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImagem</servlet-name>
        <url-pattern>/UploadImagem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirImg</servlet-name>
        <servlet-class>web.servlet.ExcluirImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirImg</servlet-name>
        <url-pattern>/ExcluirImg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>web.servlet.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cadastro</servlet-name>
        <servlet-class>web.servlet.Cadastro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cadastro</servlet-name>
        <url-pattern>/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReconhecimentoNumeros</servlet-name>
        <servlet-class>web.servlet.ReconhecimentoNumeros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReconhecimentoNumeros</servlet-name>
        <url-pattern>/ReconhecimentoNumeros</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResultadoNumeros</servlet-name>
        <servlet-class>web.servlet.ResultadoNumeros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultadoNumeros</servlet-name>
        <url-pattern>/ResultadoNumeros</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetalhesNumeros</servlet-name>
        <servlet-class>web.servlet.DetalhesNumeros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetalhesNumeros</servlet-name>
        <url-pattern>/DetalhesNumeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarResultado</servlet-name>
        <url-pattern>/SalvarResultado</url-pattern>
    </servlet-mapping>
</web-app>
